
@{
    ViewData["Title"] = "Book";
    Layout = "~/Views/Shared/Default/_DefaultLayout.cshtml";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Rezervasyon
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" action="/book">
                        <div>
                            <input type="text" name="Username" class="form-control" placeholder="İsminiz" />
                        </div>
                        <div>
                            <input type="text" name="PhoneNumber" class="form-control" placeholder="Numaranız" />
                        </div>
                        <div>
                            <input type="email" name="Email" class="form-control" placeholder="Email" />
                        </div>
                        <div>
                            <select name="Persons"  class="form-control nice-select wide">
                                <option  value="0" disabled selected>
                                    Kaç kişi?
                                </option>
                                <option value="2">
                                    2
                                </option>
                                <option value="3">
                                    3
                                </option>
                                <option  value="4">
                                    4
                                </option>
                                <option  value="5">
                                    5
                                </option>
                            </select>
                        </div>
                        <div>
                            <input type="date" name="Date" class="form-control">
                        </div>

                        <div>
                            <p>
                                @if(ViewData["bookTableStatus"] != null)
                                {
                                    @Html.Raw(ViewData["bookTableStatus"])
                                }
                            </p>
                        </div>
                        <div class="btn_box">
                            <button>
                                Rezevasyon yap
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>