@using DotRestaurant.Utils
@{
    ViewData["RestaurantSlogan"] = Constants.RESTURANT_SLOGAN;
    ViewData["RestaurantName"] = Constants.RESTURANT_NAME;
}

<div class="bg-box">
    <img src="~/Default/images/hero-bg.jpg" alt="">
</div>

<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
                <span>
                    @ViewData["RestaurantName"]
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Ana sayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu">Menü</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book">Rezervasyon</a>
                    </li>
                </ul>
                <div class="user_option">
                    <a href="/user" class="user_link">
                        @await Html.PartialAsync("~/Views/Shared/ViewUtils/UserIcon.cshtml")
                    </a>
                    <a class="cart_link" href="#">
                        @await Html.PartialAsync("~/Views/Shared/ViewUtils/CartIcon.cshtml")
                    </a>
                    <form class="form-inline">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                    <a href="" class="order_online">
                        Online sipariş
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>